
# Environment variables
.env

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Fuseki data
src/run/databases/
src/run/logs/
src/run/backups/
src/run/system_files/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
